*{ box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: "ropa sans", sans-serif;
    background-color: rgba(255, 252, 252, 0.877);
    scrollbar-width: none;
    -ms-overflow-style: none;
    min-height: 100vh;
    min-width: 100vw;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: auto;
}
body::-webkit-scrollbar {
    display: none;
}
.ropa-sans-regular {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: normal;
}
  
  .ropa-sans-regular-italic {
    font-family: "Ropa Sans", sans-serif;
    font-weight: 400;
    font-style: italic;
}  
.navbar img {
    margin: 0;
    padding: 0;
    display: flex; 
    align-items: center;
    width: 125px; 
    height: auto;
    margin-right: 100px;
    margin-left: 0px;
}
.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #333;
    background-color: #3b3b3b;
    color: #fff;
    align-items: center;
    padding: 10px;
    font-size:20px;
    
}
.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
}
.logo img {
    max-width: 300px;
}

.links {
    display: flex;
}

.links a {
    color: white;
    text-decoration: none;
    margin-right: 15px;
}
.contact-info {
    display: flex;
    align-items: center;
}

.contact-info a {
    color: white;
    text-decoration: none;
    margin-right: 10px;
}

.contact-info span {
    color: white;
    margin-right: 10px;
}

.social-icon img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
    border-radius: 6px;
}
@media (max-width: 767px) {
    .navbar img {
        width: 100px;
        margin-right: 10px;
    }

    .nav-toggle-label {
        display: block;
        position: fixed;
        top: 10px;
        right: 10px;
        width: 30px;
        height: 30px;
        background-color: #555555;
        cursor: pointer;
        z-index: 1000;
    }

    .navHamburguesa {
        width: 100%;
        height: 100%;
        margin-top: 0;
    }

    .navHamburguesa ul {
        margin: 20px;
    }
}
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    flex-direction: column;
}
.center-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 2; 
    flex-direction: row;
    padding: 10px;
    margin: 10px;
}
.image-container {
    text-align: center;
    position: relative;
    padding: 50px;
}
.image-container p {
    font-size: 30px;
    font-weight: bold;
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.image-container a {
    text-decoration: none;
    color: #000307;
}
.image-container img {
    object-fit: cover;
    width: 500px;
    height: 300px;
    border-radius: 15px;
    margin-bottom: 10px;
}

.map-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1300px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.map-container p {
    font-size: 30px
}

.map-container iframe {
    width: 450px;
    height: 650px;
    border: 2px solid #333;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 30px;
}
.text-quienesSomos {
    display: flex;
    align-items: center;
    font-size: 30px;
    flex-direction: column;
}
@media (max-width: 767px) {
    .inicio {
        flex-direction: column;
        align-items: center;
    }

    .center-content {
        margin-bottom: 20px;
    }

    .image-container img {
        width: 100%;
        height: auto;
        border-radius: 10px;
        margin-bottom: 5px;
        object-fit: cover;
    }

    .image-container p {
        font-size: 14px;
    }

    .map-container iframe {
        width: 100%;
        height: 300px;
        margin-bottom: 10px;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .inicio {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .center-content {
        margin-bottom: 0;
    }

    .image-container img {
        width: 50%;
        height: auto;
        object-fit: cover;
        border-radius: 10px;
        margin-bottom: 0;
    }

    .image-container p {
        font-size: 16px;
    }

    .map-container iframe {
        width: 50%;
        height: 400px;
        margin-bottom: 0;
    }
}
.main-footer {
    padding: 20px;
    margin: 0;
    width: 100vw;
    max-height: 100vh;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;

}

.footer-banner img {
    width: 100%;
    max-width: 80%;
    height: auto;
}
.footer-text p {
    font-size: 1rem;
    text-align: justify;
}
.footer-text h3 {
    margin: 0;
    font-size: 1.2rem;
    text-align: justify;

}
@media (max-width: 767px) {
    .main-footer {
        flex-direction: column;
        align-items: flex-start;
        padding: 10px;
    }

    .footer-banner img {
        max-width: 100%;
    }

    .footer-text {
        flex-basis: 100%;
    }

    .footer-text p,
    .footer-text h3 {
        font-size: 14px;
        text-align: left;
    }
}
.pagTasacion{
    background-image: url(../img/imgs/fondo_de_tasaciones.jpg);
    background-position: center;
    background-size: cover;
    
}
.formTasacion {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    background-size: cover;
    background-position: center;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    }


label {
    display: block;
    margin-bottom: 8px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="number"],
select,
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-sizing: border-box;
}

select {
    height: 40px;
}

textarea {
    height: 120px;
}

.input-group {
    display: flex;
    align-items: center;
}

.input-group input[type="number"] {
    width: calc(100% - 50px);
}

.input-group .unit {
    margin-left: 10px;
    color: #555;
}

input[type="submit"],
input[type="reset"] {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
}

input[type="submit"]:hover,
input[type="reset"]:hover {
    background-color: #2980b9;
}
.sucursal-barra {
    display: flex;
    flex-direction: column;
    max-width: 1200px;
    margin: 50px auto;
}

.sucursal {
    display: flex;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}

.datos-sucursal {
    flex: 1;
    padding: 125px;
    text-align: center;
}

.mapa {
    width: 50%;
    height: 300px;
}
.formulario-contacto {
    max-width: 600px;
    margin:auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
.contacto{
    background-image: url(../img/imgs/fondo_de_contacto.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.contacto form {
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); 
}
@media (max-width: 767px) {
        .formulario-contacto {
            padding: 10px;
            max-width: 100%;
            border-radius: 0;
        }
    }

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="tel"],
input[type="email"],
textarea {
    width: calc(100% - 20px);
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}
.property-card {
    width: calc(33% - 20px);
    margin: 10px;
    padding: 10px;
    background: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    display: inline-block;
    vertical-align: top;
    text-align: center;
}
.property-card img {
    width: 100%;
    height: 300px;
    border-bottom: 5px solid #f2f2f2;
    margin-bottom: 10px;
}
.property-card .details {
    text-align: center;
}
.container-properties {
    text-align: center;
}
.container-grid {
    display: grid;
    height: 100vh;
    padding: 0.626rem;
    margin: 0%;
    border: 5px solid #000000;
    overflow: hidden;
    object-fit: cover;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 10px;
    grid-template-areas:
        "main aside"
        "main aside"
        "aside aside"
        "main-footer main-footer";
}

.aside { grid-area: img-main; }
.main { grid-area: inf-main; }
footer { grid-area: main-footer; }
aside { grid-area: carr__boost; padding: 20px; }
.img-main img, .inf-main img, .carousel-inner img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    height: auto;
    display: flex;
    margin: 0% auto;
    padding: auto;
}

.carousel {
    max-width: 37.5rem;
    max-height: 25rem;
    justify-content: center;
    border: 0.313rem solid #000000;
}
.carr__boost {
    display: flex;
    justify-content: center;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: rgb(0, 0, 0)!important;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
    background-color: transparent;
}


@media (max-width: 767px) {
    .container-grid {
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 10px;
        padding: 10px;
    }
}


@media (min-width: 768px) and (max-width: 991px) {
    .container-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 30px;
        padding: 15px;
    }
}


@media (min-width: 992px) {
    .container-grid {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
        gap: 50px;
        padding: 20px;
    }
}