@import 'variables';
@import 'mixins';

$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris: #333;

.navbar {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-gris;
    color: $color-blanco;
    align-items: center;
    padding: 20px;
    font-size: 24px;

    img {
        display: flex;
        align-items: center;
        width: 225px;
    }

    a {
        color: $color-blanco;
        text-decoration: none;
        
    }
}

.links {
    display: flex;

    a {
        color: $color-blanco;
        text-decoration: none;
        margin-right: 15px;
    }
}

.contact-info {
    display: flex;
    align-items: center;

    a {
        color: $color-blanco;
        text-decoration: none;
        margin-right: 10px;
    }

    span {
        color: $color-blanco;
        margin-right: 10px;
    }
}