//colores
$color-blanco: #ffffff;
$color-negro: #000000;
$color-gris: #333;
$color-celeste: #007bff;
$color-azul: #1b0d99;
$color-rojo: #bb0c0c;

//Letra
$font-family: "ropa sans", sans-serif;

//Tamaño
$Wxl: 767px;
$Wxs: 480px;
